
  <h1 appBasicHighlight>Directives</h1>
  <p appNetterHighlight [defaultColor]="'blue'">last class</p> 


  <p appNetterHighlight [defaultColor]="'green'" 
    (mouseover)="onMouseOver()" 
    (mouseout)="onMouseOut()">
    Hover over this paragraph
  </p>
  <form>
    <input
      type="tel"
      appNumberOnly
      (keypress)="onKeyPress($event)"
      (keydown)="onKeyDown($event)"
      (keyup)="onKeyUp($event)" />
  </form>
  
<!--  BEGIN  -->
<!--router-outlet></router-outlet -->
<navigation></navigation>
<home></home>
asdf

<!--  END  -->

  <!-- <form>
    <input
      type="tel"
      appNumberOnly
      (keypress)="onKeyPress($event)"
      (keydown)="onKeyDown($event)"
      (keyup)="onKeyUp($event)"
      (paste)="onPaste($event)"
      (input)="onInput($event)"
      (change)="onChange($event)"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
      (cut)="onCut($event)"
      (copy)="onCopy($event)"
      (select)="onSelect($event)"
      (contextmenu)="onContextMenu($event)"
      (drag)="onDrag($event)"
      (dragstart)="onDragStart($event)"
      (dragend)="onDragEnd($event)"
      (dragenter)="onDragEnter($event)"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
      (scroll)="onScroll($event)"
      (wheel)="onWheel($event)"
      (touchstart)="onTouchStart($event)"
      (touchmove)="onTouchMove($event)"
      (touchend)="onTouchEnd($event)"
      (touchcancel)="onTouchCancel($event)"
      (pointerdown)="onPointerDown($event)"
      (pointerup)="onPointerUp($event)"
      (pointermove)="onPointerMove($event)"
      (pointerenter)="onPointerEnter($event)"
      (pointerleave)="onPointerLeave($event)"
      (pointerover)="onPointerOver($event)"
      (pointerout)="onPointerOut($event)"
      (keydown.enter)="onEnter($event)"
      (keydown.space)="onSpace($event)"
      (keydown.tab)="onTab($event)"
      (keydown.esc)="onEsc($event)"
      (keydown.backspace)="onBackspace($event)"
      (keydown.delete)="onDelete($event)"
      (keydown.arrowup)="onArrowUp($event)"
      (keydown.arrowdown)="onArrowDown($event)"
      (keydown.arrowleft)="onArrowLeft($event)"
      (keydown.arrowright)="onArrowRight($event)"
      (keydown.home)="onHome($event)"
      (keydown.end)="onEnd($event)"
      (keydown.pageup)="onPageUp($event)"
      (keydown.pagedown)="onPageDown($event)"
      (keydown.insert)="onInsert($event)"
      (keydown.f1)="onF1($event)"
      (keydown.f2)="onF2($event)"
      (keydown.f3)="onF3($event)"
      (keydown.f4)="onF4($event)"
      (keydown.f5)="onF5($event)"
      (keydown.f6)="onF6($event)" 
    />
  </form> -->